* {
  margin: 0;
  padding: 0;
}
:root {
  --color-brand-standart: #19191b;
  --color-primary-dark: #ff7143;
  --color-primary-light: #f89d7f54;
  --color-brand-normal: #696871;
  --color-brand-light: #ffffff;
  --color-dark-button: #5454d4;
  --color-light-block: #f8f8f8;
  --color-title: #1d293f;
  --color-button-hover: #9f3919;
}

a {
  text-decoration: none;
  color: var(--color-brand-normal);
}
a:hover {
  color: var(--color-brand-standart);
}
h1 {
  font-size: 80px;
  margin-bottom: 30px;
}
p {
  font-size: 20px;
  margin-bottom: 50px;
}
/* Header */
.header {
  background-color: var(--color-primary-light);
}
.header-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 48px 160px;
  padding: 60px 0;
  align-items: center;
}

.header-nav__list {
  display: inline-block;
  list-style-type: none;
  padding-right: 50px;
}

/* Main Section */
.main-section__grow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.main-button {
  display: flex;
  justify-content: space-between;
}
.main-section__divtext {
  flex-direction: column;
  padding: 108px 50px 80px 185px;
  margin-bottom: 50px;
}
.main-section__image {
  padding: 108px 185px 80px 50px;
}
.main-section__indeximage {
  padding: 108px 50px 80px 185px;
  margin-right: 170px;
}
.main-section__index {
  display: flex;
  flex-flow: row nowrap;
}
.main-section__button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-button__container {
  display: flex;
  flex-direction: row;
}
.main-plan__ul {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  color: var(--color-brand-normal);
  background-color: var(--color-light-block);
  border-radius: 20px;
  list-style-type: none;
  text-align: center;
  padding: 5px 100px;
}
.main-plan__title {
  color: var(--color-title);
}
.main-plan__ul:hover {
  color: var(--color-brand-light);
  background-color: var(--color-primary-dark);
  box-shadow: 0px 0px 15px var(--color-primary-dark);
}
.main-plan__li {
  text-align: center;
  padding: 10px;
  flex-basis: calc((100% - 40px) / 3);
}
.main-plan__div {
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: center;
}
.main-section__title .main-plan__article {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-section__plan {
  margin-bottom: 130px;
}

/* Button */
.header-nav__button {
  color: var(--color-brand-light);
  background-color: var(--color-primary-dark);
  border: none;
  border-radius: 10px;
  padding: 19px 60px;
  cursor: pointer;
  transition: 0.5s;
  min-width: 210px;
}
.header-nav__button:hover {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  transition: 0.5s;
}
.button-get {
  color: var(--color-brand-light);
  background-color: var(--color-dark-button);
  border-color: transparent;
  border-radius: 10px;
  padding: 19px 60px;
  cursor: pointer;
  transition: 0.5s;
  min-width: 210px;
}
.button-try {
  color: var(--color-dark-button);
  background-color: transparent;
  border-color: var(--color-dark-button);
  border-radius: 10px;
  padding: 19px 60px;
  cursor: pointer;
  transition: 0.5s;
  min-width: 210px;
}
.button-get:hover {
  color: var(--color-dark-button);
  background-color: var(--color-brand-light);
  border-color: var(--color-dark-button);
}
.button-try:hover {
  color: var(--color-brand-light);
  background-color: var(--color-dark-button);
  border: none;
}
.main-button__email {
  color: var(--color-dark-button);
  background-color: transparent;
  border-color: var(--color-dark-button);
  border-radius: 10px;
  padding: 19px 60px;
  margin-right: 40px;
  min-width: 210px;
}
.main-plan__button {
  color: var(--color-dark-button);
  background-color: #ffffff;
  border-radius: 5px;
  border-color: var(--color-light-block);
  min-width: 210px;
  padding: 19px 30px;
  cursor: pointer;
}
.main-plan__button:hover {
  color: var(--color-brand-light);
  background-color: #9f3919;
  border-color: #9f3919;
}

/* Footer */
.footer {
  background-color: var(--color-primary-light);
}
.footer-links__list {
  display: inline-block;
  list-style-type: none;
  padding-right: 50px;
}
.footer-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 53px 0 53px 80px;
}
